[run]
branch = True
source = chanx_example
omit =
    chanx_example/accounts/*
    */migrations/*
    */config/*
    */tests/*
    */factories/*.py
    */test_utils/*
    conftest.py
    manage.py
    asgi.py
    wsgi.py
    factories.py


[report]
show_missing = True
exclude_also =
    case _:\n\s*assert_never
